@import "./style.css";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 116px;
}

header a {
    font-family: var(--fontDefault);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 200ms;
}

header a:hover {
    font-size: 18px;
    text-decoration: underline;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

header button {
    font-family: var(--fontDefault);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    text-align: center;
    letter-spacing: 2px;
    
    color: #FFFFFF;
    
    height: 52px;
    padding: 8px 22px;
    background-color: var(--blue-primary);
    border-radius: 50px;
    transition: 200ms;

    box-shadow: 0 0 2px var(--blue-primary), 0 0 2px var(--blue-primary), 0 0 4px var(--blue-primary), 0 0 4px var(--blue-primary);
    cursor: pointer;
}

header button:hover {
    transform: scale(1.04);
    box-shadow: 0 0 4px var(--blue-primary), 0 0 4px var(--blue-primary), 0 0 16px var(--blue-primary), 0 0 16px var(--blue-primary);
}

@media screen and (max-width: 900px) {
    header nav {
        display: none;
    }
}